/********** General ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #b535f6;
}

body {
    font-family: "m";
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

/************ Header *************/
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    padding: 0 20px;
    align-items: center;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
    font-size: 16.5px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

header a {
    color: black;
}

header .logo {
    height: 90px;
    width: 220px;
}

header nav > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

header hr {
    border: none;
    height: 25px;
    width: 1px;
    background-color: gray;
}

header nav, header ul{
    display: flex;
    gap: 32px;
    align-items: center;
}

header nav > a {
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 1px solid red;
    transition: all .5s;
}

header nav > a:hover {
    background-color: white;
    color: red;
}

header nav a.active, header nav ul a:hover, header nav div a:hover {
    color: orange;
}

/********** Menu **********/
header > button , header > a.person{
    background-color: transparent;
    display: none;
}

header > button img, header > a img{
    width: 30px;
    height: 30px;
}

header .menu {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
    background-color: rgb(240, 239, 239);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: transform .6s;
    z-index: -1;
}

header .menu.active {
    transform: none;
}

header .menu ul {
    flex-direction: column;
    gap: 0;
}

header .menu > div {
    position: relative;
}

header .menu img {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header .menu li {
    width: 100%;
}

header .menu ul a.active, header .menu ul a:hover {
    color: orange;
}

header .menu h2 {
    background-color: white;
    text-align: center;
}

header .menu li a, header .menu h2{
    padding: 20px 10px;
    display: block;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

header .menu button {
    background-color: red;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: 10px;
    font-size: 16px;
}

/*********** Registrar **********/
.registrar {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    left: 0;
    top: 0;
    z-index: 4;
    justify-content: center;
    align-items: center;
    z-index: -1;
    display: flex;
    overflow-y: scroll;
}

.registrar .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 30px;
    width: 400px;
    transform: translateY(-100%);
    transition: transform .7s;
}

.registrar h2 {
    margin-top: 20px;
}

.registrar .card img {
    width: 30px;
    height: 30px;
}

.registrar .card > div {
    display: flex;
    justify-content: space-between;
}

.registrar div button {
    background-color: transparent;
}

.registrar .card .st {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.registrar iframe {
    align-self: center;
}

.registrar form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registrar input {
    height: 45px;
    padding: 0 10px;
}

.registrar .foot a {
    color: brown;
    font-weight: bold;
}

.registrar form button {
    padding: 15px 40px;
    background-color: rgb(231, 51, 51);
    color: white;
}

/*********** Ingresar ***********/
.ingresar {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    left: 0;
    top: 0;
    z-index: 4;
    justify-content: center;
    align-items: center;
    z-index: -1;
    display: flex;
}

.ingresar .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 30px;
    width: 400px;
    transform: translateY(-100%);
    transition: transform .7s;
}

.ingresar .card img {
    width: 30px;
    height: 30px;
}

.ingresar .card > div {
    display: flex;
    justify-content: space-between;
}

.ingresar div button {
    background-color: transparent;
}

.ingresar form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingresar input {
    height: 45px;
    padding: 0 10px;
}

.ingresar .st, .ingresar .st > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.ingresar .st a {
    color: blueviolet
}

.ingresar form button {
    padding: 15px 40px;
    background-color: rgb(231, 51, 51);
    color: white;
}

.ingresar .card .foot {
    justify-content: center;
    gap: 5px;
}

.ingresar .foot a {
    color: brown;
    font-weight: bold;
}

/********* Content *********/
.content {
    margin-top: 100px;
    padding: 45px 0;
    width: 100%;
    background-color: rgb(248, 246, 246);
}

.content h2 {
    width: 85%;
    margin: 0 auto;
    font-size: 32px;
}

.content .box-flex {
    display: flex;
    width: 85%;
    margin: 30px auto;
    gap: 40px;
}

.content .search {
    background-color: white;
    padding: 30px;
    width: 330px;
    height: fit-content;
}

.content .search input, .content .search select {
    height: 45px;
    border: 1px solid rgb(226, 223, 223);
    outline: none;
    padding: 10px;
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.content form button {
    height: 45px;
    padding: 15px 0;
    background-color: red;
    color: white;
    border: 1px solid red;
    transition: all .4s;
    font-weight: bold;
    font-size: 15px;
}

.content form button:hover {
    background-color: white;
    color: red;
}

.results {
    flex: 1;
}

.results .cont-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.results .card {
    background-color: white;
    display: flex;
    padding: 10px;
}

.results .card .cont-img{
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.results .card .cont-img::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0, 0.3);
    width: 100%;
    height: 100%;
}

.results .card .text {
    flex-direction: column;
    display: flex;
    gap: 15px;
    flex: 1;
    padding: 0 20px;
}

.results .text > span:first-child {
    color:red;
}

.results .text > p, .results .info {
    color: gray;
}

.results .buy {
    display: flex;
    background-color: blue;
}

.results .buy span:first-child{
    background-color: red;
}

.results .buy span {
    background-color: green;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}

.results .text img {
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

.results .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results .top {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
}

.results .top > div {
    display: flex;
    gap: 15px;
}

.results .top select {
    border: none;
}

/********* Footer **********/
footer {
    width: 100%;
    background-color: rgb(28, 28, 207);
    color: white;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer > div {
    width: fit-content;
}

footer p {
    width: 300px;
}

footer .redes {
    display: flex;
    gap: 20px;
}

footer h3 {
    margin-bottom: 20px;
}

footer .opt {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .opt li {
    transition: margin-left .5s;
}

footer .opt li:hover {
    margin-left: 10px;
}

footer .redes img {
    filter: invert(100%);
}

footer .redes ~ span {
    margin: 20px 0;
    display: block;
    font-size: 18px;
}

footer > div > div {
    align-items: center;
    display: flex;
    gap: 10px;
}

footer input {
    height: 40px;
    padding: 0 10px;
}

footer button {
    height: 40px;
    padding: 10px;
}

/********* Media Querys **********/
@media (max-width: 1250px) {
    /********** Header **********/
    header nav {
        display: none;
    }

    header .logo {
        width: 220px;
    }

    header .menu {
        z-index: 3;
    }

    header > button, header > a.person{
        display: block;
    }
}

@media (max-width: 480px) {
    header {
        height: 80px;
    }

    header .logo {
        width: 180px;
        height: 60px;
    }
}